In [3]:
import pandas as pd

In [11]:
pwd

'C:\\Users\\dinesh.kumar\\Desktop\\Python'

In [12]:
#pwd command  command Show from which location jupyter is pointing 
#Now to go goole and type csv git sample and download any csv file to read

In [13]:
#Now 1st copy addresses.csv into pointing folder and then user below command to read that file 
pd.read_csv('addresses.csv')

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
6,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US
7,8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
8,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
9,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
10,11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US
11,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
12,13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US
13,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
14,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
15,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
16,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
17,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
18,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
19,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [15]:
#it was copy and paste option and the  read file from that location 
#Now also you can upload file via Upload option then read it 
pd.read_csv('contacts.csv')

,id,location_id,organization_id,service_id,name,title,email,department
0,1,1.0,NaN,NaN,Susan Houston,Director of Older Adult Services,NaN,NaN
1,2,1.0,NaN,NaN,Christina Gonzalez,Center Director,NaN,NaN
2,3,2.0,NaN,NaN,Brenda Brown,"Director, Second Career Services",NaN,NaN
3,4,3.0,NaN,NaN,"Howard Lader, LCSW","Manager, Senior Peer Counseling",NaN,NaN
4,5,4.0,NaN,NaN,Kimberly Pesavento,Director of Visitation,NaN,NaN
5,6,5.0,NaN,NaN,Joe Bloom,Financial Empowerment Programs Program Director,NaN,NaN
6,7,6.0,NaN,NaN,Peter Olson,Little House Director,NaN,NaN
7,8,6.0,NaN,NaN,Bart Charlow,"Executive Director, Peninsula Volunteers",NaN,NaN
8,9,7.0,NaN,NaN,Bart Charlow,"Executive Director, Peninsula Volunteers",NaN,NaN
9,10,7.0,NaN,NaN,Barbara Kalt,Director,NaN,NaN
10,11,8.0,NaN,NaN,Marilyn Baker-Venturini,Director,NaN,NaN
11,12,8.0,NaN,NaN,Graciela Hernandez,Assistant Manager,NaN,NaN
12,13,8.0,NaN,NaN,Julie Avelino,Assessment Specialist,NaN,NaN
13,14,9.0,NaN,NaN,Dave Genesy,Library Director,NaN,NaN
14,15,9.0,NaN,NaN,Maria Kramer,Library Divisions Manager,NaN,NaN
15,16,10.0,NaN,NaN,Dave Genesy,Library Director,NaN,NaN
16,17,10.0,NaN,NaN,Maria Kramer,Library Division Manager,NaN,NaN
17,18,11.0,NaN,NaN,Dave Genesy,Library Director,NaN,NaN
18,19,11.0,NaN,NaN,Elizabeth Meeks,Branch Manager,NaN,NaN
19,20,12.0,NaN,NaN,Kathy Endaya,Director,NaN,NaN
20,21,13.0,NaN,NaN,Dave Genesy,Library Director,NaN,NaN
21,22,14.0,NaN,NaN,Andres Espinoza,"Captain, Commanding Officer",NaN,NaN
22,23,15.0,NaN,NaN,Jack Phillips,Administrator,NaN,NaN
23,24,16.0,NaN,NaN,James Lee,Commanding Officer,NaN,NaN
24,25,17.0,NaN,NaN,Kenneth Gibson,Major,NaN,NaN
25,26,18.0,NaN,NaN,Sharon Petersen,Administrator,NaN,NaN
26,27,19.0,NaN,NaN,Sharon Petersen,Administrator,NaN,NaN
27,28,21.0,NaN,NaN,Moncef,NaN,NaN,Office of Innovation
28,29,22.0,NaN,NaN,Suzanne Badenhoop,Board President,suzanne@example.com,Referrals
29,32,NaN,8.0,NaN,Elizabeth Feeney,CEO,e.feeney@foobar.org,Operations
30,36,NaN,NaN,22.0,Joe Smith,CalFresh Specialist,john.smith@example.org,CalFresh Applications

In [23]:
#3rd way to read file from direct path such as 
pd.read_csv('C:/Users/dinesh.kumar/Downloads/ohana-api-master/ohana-api-master/data/sample-csv/locations.csv')
#here not \will not work as you need to convert fowword to backword slash
#if you wanto use forword slash then it should be double slash \\

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,False
1,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
2,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.563984,-122.325799,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,False
3,4,1,wheelchair,NaN,NaN,Provides supervised visitation services and a ...,NaN,Spanish,37.563984,-122.325799,Family Visitation Center,Provides supervised visitation services and a ...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
4,5,1,wheelchair,NaN,NaN,Provides fixed 8% short term loans to eligible...,NaN,"Hindi, Spanish",37.563984,-122.325799,Economic Self - Sufficiency Program,Makes small loans to working families.,SAMTRANS stops within 1 block. CALTRAIN stops ...,NaN,False
5,6,2,"disabled_parking, wheelchair",NaN,NaN,A multipurpose center offering a wide variety ...,NaN,"Tagalog, Spanish",37.448020,-122.180590,Little House,A multipurpose senior citizens' center.,"SAMTRANS stops within 3 blocks, RediWheels and...",NaN,False
6,7,2,"ramp, restroom, disabled_parking, wheelchair",NaN,NaN,Rosener House is a day center for older adults...,NaN,"Spanish, Tagalog, Vietnamese",37.444178,-122.183093,Rosener House Adult Day Services,A day center for adults age 50 or over.,Transportation can be arranged via Redi-Wheels...,NaN,False
7,8,2,NaN,NaN,NaN,Delivers a hot meal to the home of persons age...,NaN,Spanish,37.448020,-122.180590,Meals on Wheels - South County,Will deliver a hot meal to the home of persons...,Not necessary for service.,NaN,False
8,9,3,"ramp, restroom, wheelchair",NaN,NaN,"Provides general reading material, including b...",NaN,Spanish,37.478502,-122.214143,Fair Oaks Branch,Provides general reading materials and referen...,SAMTRANS stops in front.,NaN,False
9,10,3,"elevator, tape_braille, ramp, restroom, disabl...",NaN,NaN,"Provides general reading and media materials, ...",NaN,Spanish,37.483842,-122.227395,Main Library,Provides general reference and reading materia...,SAMTRANS stops within 1 block; CALTRAIN stops ...,NaN,False
10,11,3,ramp,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.466553,-122.243090,Schaberg Branch,Provides general reading materials and referen...,SAMTRANS stops within 1 block.,NaN,False
11,12,3,"disabled_parking, elevator, ramp, restroom",ohana@gmail.com,NaN,Offers an intergenerational literacy program f...,NaN,NaN,37.483842,-122.227395,Project Read,Offers an intergenerational literacy program f...,SAMTRANS stops within 1 block.,NaN,False
12,13,3,NaN,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.530423,-122.258643,Redwood Shores Branch,Provides general reading materials and referen...,NaN,NaN,False
13,14,4,wheelchair,NaN,NaN,"Provides food, clothing, bus tokens and shelte...",NaN,Spanish,37.491386,-122.231568,Redwood City Corps,Provides a variety of emergency services to lo...,SAMTRANS stops nearby.,NaN,False
14,15,4,wheelchair,NaN,NaN,Provides a long-term (6-12 month) residential ...,NaN,Spanish,37.748899,-122.420367,Adult Rehabilitation Center,Long-term (6-12 month) residential treatment p...,"MUNI - 26 Valencia, Mission Street lines.",NaN,False
15,16,4,NaN,NaN,NaN,Provides emergency assistance including food a...,NaN,Korean,37.356900,-122.060002,Sunnyvale Corps,Provides emergency assistance to persons in im...,VTA stops within 4 blocks.,NaN,False
16,17,4,wheelchair,NaN,NaN,"Provides emergency food, clothing and furnitur...",NaN,NaN,37.644590,-122.422490,South San Francisco Citadel Corps,Provides emergency food and clothing and furni...,"SAMTRANS stops within 1 block, BART stops with...",NaN,False
17,18,5,"cd, restroom, wheelchair",NaN,NaN,Provides free medical care to those in need. O...,NaN,Spanish,37.468614,-122.206798,Redwood City Free Medical Clinic,Provides free medical care to those in need.,SAMTRANS stops within 2 blocks.,http://www.samaritanhouse.com,False
18,19,5,"elevator, ramp, wheelchair",NaN,NaN,Provides free medical and dental care to those...,NaN,Spanish,37.532694,-122.293124,San Mateo Free Medical Clinic,Provides free medical and dental care to those...,SAMTRANS stops within 1 block.,http://www.samaritanhouse.com,False
19,20,6,NaN,NaN,NaN,no phone,NaN,NaN,NaN,NaN,Location with no phone,no phone,NaN,NaN,True
20,21,7,"elevator, restroom",NaN,NaN,This is a description,NaN,NaN,37.529194,-122.287161,Admin Test Location,This is a short description,SAMTRANS stops within 1/2 mile.,NaN,False
21,22,8,"disabled_parking, restroom, wheelchair",foo@bar.com,The Test Spot,[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,info@example.org,"Cantonese, Russian, Spanish, Tagalog, Taiwanese",37.772640,-122.409915,Example Location,[NOTE THIS IS NOT A REAL ENTRY--THIS IS FOR TE...,SAMTRANS stops within 1 block,http://www.example.org,False

In [24]:
pd.read_csv('C:\\Users\\dinesh.kumar\\Downloads\\ohana-api-master\\ohana-api-master\\data\\sample-csv\\locations.csv')

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,False
1,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
2,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.563984,-122.325799,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,False
3,4,1,wheelchair,NaN,NaN,Provides supervised visitation services and a ...,NaN,Spanish,37.563984,-122.325799,Family Visitation Center,Provides supervised visitation services and a ...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
4,5,1,wheelchair,NaN,NaN,Provides fixed 8% short term loans to eligible...,NaN,"Hindi, Spanish",37.563984,-122.325799,Economic Self - Sufficiency Program,Makes small loans to working families.,SAMTRANS stops within 1 block. CALTRAIN stops ...,NaN,False
5,6,2,"disabled_parking, wheelchair",NaN,NaN,A multipurpose center offering a wide variety ...,NaN,"Tagalog, Spanish",37.448020,-122.180590,Little House,A multipurpose senior citizens' center.,"SAMTRANS stops within 3 blocks, RediWheels and...",NaN,False
6,7,2,"ramp, restroom, disabled_parking, wheelchair",NaN,NaN,Rosener House is a day center for older adults...,NaN,"Spanish, Tagalog, Vietnamese",37.444178,-122.183093,Rosener House Adult Day Services,A day center for adults age 50 or over.,Transportation can be arranged via Redi-Wheels...,NaN,False
7,8,2,NaN,NaN,NaN,Delivers a hot meal to the home of persons age...,NaN,Spanish,37.448020,-122.180590,Meals on Wheels - South County,Will deliver a hot meal to the home of persons...,Not necessary for service.,NaN,False
8,9,3,"ramp, restroom, wheelchair",NaN,NaN,"Provides general reading material, including b...",NaN,Spanish,37.478502,-122.214143,Fair Oaks Branch,Provides general reading materials and referen...,SAMTRANS stops in front.,NaN,False
9,10,3,"elevator, tape_braille, ramp, restroom, disabl...",NaN,NaN,"Provides general reading and media materials, ...",NaN,Spanish,37.483842,-122.227395,Main Library,Provides general reference and reading materia...,SAMTRANS stops within 1 block; CALTRAIN stops ...,NaN,False
10,11,3,ramp,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.466553,-122.243090,Schaberg Branch,Provides general reading materials and referen...,SAMTRANS stops within 1 block.,NaN,False
11,12,3,"disabled_parking, elevator, ramp, restroom",ohana@gmail.com,NaN,Offers an intergenerational literacy program f...,NaN,NaN,37.483842,-122.227395,Project Read,Offers an intergenerational literacy program f...,SAMTRANS stops within 1 block.,NaN,False
12,13,3,NaN,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.530423,-122.258643,Redwood Shores Branch,Provides general reading materials and referen...,NaN,NaN,False
13,14,4,wheelchair,NaN,NaN,"Provides food, clothing, bus tokens and shelte...",NaN,Spanish,37.491386,-122.231568,Redwood City Corps,Provides a variety of emergency services to lo...,SAMTRANS stops nearby.,NaN,False
14,15,4,wheelchair,NaN,NaN,Provides a long-term (6-12 month) residential ...,NaN,Spanish,37.748899,-122.420367,Adult Rehabilitation Center,Long-term (6-12 month) residential treatment p...,"MUNI - 26 Valencia, Mission Street lines.",NaN,False
15,16,4,NaN,NaN,NaN,Provides emergency assistance including food a...,NaN,Korean,37.356900,-122.060002,Sunnyvale Corps,Provides emergency assistance to persons in im...,VTA stops within 4 blocks.,NaN,False
16,17,4,wheelchair,NaN,NaN,"Provides emergency food, clothing and furnitur...",NaN,NaN,37.644590,-122.422490,South San Francisco Citadel Corps,Provides emergency food and clothing and furni...,"SAMTRANS stops within 1 block, BART stops with...",NaN,False
17,18,5,"cd, restroom, wheelchair",NaN,NaN,Provides free medical care to those in need. O...,NaN,Spanish,37.468614,-122.206798,Redwood City Free Medical Clinic,Provides free medical care to those in need.,SAMTRANS stops within 2 blocks.,http://www.samaritanhouse.com,False
18,19,5,"elevator, ramp, wheelchair",NaN,NaN,Provides free medical and dental care to those...,NaN,Spanish,37.532694,-122.293124,San Mateo Free Medical Clinic,Provides free medical and dental care to those...,SAMTRANS stops within 1 block.,http://www.samaritanhouse.com,False
19,20,6,NaN,NaN,NaN,no phone,NaN,NaN,NaN,NaN,Location with no phone,no phone,NaN,NaN,True
20,21,7,"elevator, restroom",NaN,NaN,This is a description,NaN,NaN,37.529194,-122.287161,Admin Test Location,This is a short description,SAMTRANS stops within 1/2 mile.,NaN,False
21,22,8,"disabled_parking, restroom, wheelchair",foo@bar.com,The Test Spot,[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,info@example.org,"Cantonese, Russian, Spanish, Tagalog, Taiwanese",37.772640,-122.409915,Example Location,[NOTE THIS IS NOT A REAL ENTRY--THIS IS FOR TE...,SAMTRANS stops within 1 block,http://www.example.org,False

In [4]:
#Now if you want to hold that data in memory you can use following way
df=pd.read_csv('C:\\Users\\dinesh.kumar\\Downloads\\ohana-api-master\\ohana-api-master\\data\\sample-csv\\locations.csv')

In [26]:
#now i want to chekc data type of that variable
type(df)

pandas.core.frame.DataFrame

In [27]:
#now i wanto show 1st 2 records 
df.head(2)

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,False
1,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False

In [28]:
df.head()# to show top 5 records
df.tail()#to show last 5 recrods

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
17,18,5,"cd, restroom, wheelchair",NaN,NaN,Provides free medical care to those in need. O...,NaN,Spanish,37.468614,-122.206798,Redwood City Free Medical Clinic,Provides free medical care to those in need.,SAMTRANS stops within 2 blocks.,http://www.samaritanhouse.com,False
18,19,5,"elevator, ramp, wheelchair",NaN,NaN,Provides free medical and dental care to those...,NaN,Spanish,37.532694,-122.293124,San Mateo Free Medical Clinic,Provides free medical and dental care to those...,SAMTRANS stops within 1 block.,http://www.samaritanhouse.com,False
19,20,6,NaN,NaN,NaN,no phone,NaN,NaN,NaN,NaN,Location with no phone,no phone,NaN,NaN,True
20,21,7,"elevator, restroom",NaN,NaN,This is a description,NaN,NaN,37.529194,-122.287161,Admin Test Location,This is a short description,SAMTRANS stops within 1/2 mile.,NaN,False
21,22,8,"disabled_parking, restroom, wheelchair",foo@bar.com,The Test Spot,[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,info@example.org,"Cantonese, Russian, Spanish, Tagalog, Taiwanese",37.772640,-122.409915,Example Location,[NOTE THIS IS NOT A REAL ENTRY--THIS IS FOR TE...,SAMTRANS stops within 1 block,http://www.example.org,False

In [31]:
# here if you pass parameter inside head or tail then it will records such as 
df.tail(10)

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
12,13,3,NaN,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.530423,-122.258643,Redwood Shores Branch,Provides general reading materials and referen...,NaN,NaN,False
13,14,4,wheelchair,NaN,NaN,"Provides food, clothing, bus tokens and shelte...",NaN,Spanish,37.491386,-122.231568,Redwood City Corps,Provides a variety of emergency services to lo...,SAMTRANS stops nearby.,NaN,False
14,15,4,wheelchair,NaN,NaN,Provides a long-term (6-12 month) residential ...,NaN,Spanish,37.748899,-122.420367,Adult Rehabilitation Center,Long-term (6-12 month) residential treatment p...,"MUNI - 26 Valencia, Mission Street lines.",NaN,False
15,16,4,NaN,NaN,NaN,Provides emergency assistance including food a...,NaN,Korean,37.356900,-122.060002,Sunnyvale Corps,Provides emergency assistance to persons in im...,VTA stops within 4 blocks.,NaN,False
16,17,4,wheelchair,NaN,NaN,"Provides emergency food, clothing and furnitur...",NaN,NaN,37.644590,-122.422490,South San Francisco Citadel Corps,Provides emergency food and clothing and furni...,"SAMTRANS stops within 1 block, BART stops with...",NaN,False
17,18,5,"cd, restroom, wheelchair",NaN,NaN,Provides free medical care to those in need. O...,NaN,Spanish,37.468614,-122.206798,Redwood City Free Medical Clinic,Provides free medical care to those in need.,SAMTRANS stops within 2 blocks.,http://www.samaritanhouse.com,False
18,19,5,"elevator, ramp, wheelchair",NaN,NaN,Provides free medical and dental care to those...,NaN,Spanish,37.532694,-122.293124,San Mateo Free Medical Clinic,Provides free medical and dental care to those...,SAMTRANS stops within 1 block.,http://www.samaritanhouse.com,False
19,20,6,NaN,NaN,NaN,no phone,NaN,NaN,NaN,NaN,Location with no phone,no phone,NaN,NaN,True
20,21,7,"elevator, restroom",NaN,NaN,This is a description,NaN,NaN,37.529194,-122.287161,Admin Test Location,This is a short description,SAMTRANS stops within 1/2 mile.,NaN,False
21,22,8,"disabled_parking, restroom, wheelchair",foo@bar.com,The Test Spot,[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,info@example.org,"Cantonese, Russian, Spanish, Tagalog, Taiwanese",37.772640,-122.409915,Example Location,[NOTE THIS IS NOT A REAL ENTRY--THIS IS FOR TE...,SAMTRANS stops within 1 block,http://www.example.org,False

In [32]:
#here if you see Header is coming by default 1st line now if i want to ignore read 1st line as header then read file like this 
df=pd.read_csv('C:\\Users\\dinesh.kumar\\Downloads\\ohana-api-master\\ohana-api-master\\data\\sample-csv\\locations.csv',header=None)

In [33]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
1,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,false
2,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.5639843,-122.3257992,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,false
3,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.5639843,-122.3257992,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,false
4,4,1,wheelchair,NaN,NaN,Provides supervised visitation services and a ...,NaN,Spanish,37.5639843,-122.3257992,Family Visitation Center,Provides supervised visitation services and a ...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,false

In [4]:
#get Colum  Name
df.heads()

NameError: name 'df' is not defined

In [7]:
df=pd.read_csv('C:\\Users\\dinesh.kumar\\Downloads\\ohana-api-master\\ohana-api-master\\data\\sample-csv\\locations.csv')

In [9]:
df.head(2)

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,False
1,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False

In [12]:
#get All Column names 
df.columns

Index(['id', 'organization_id', 'accessibility', 'admin_emails',
       'alternate_name', 'description', 'email', 'languages', 'latitude',
       'longitude', 'name', 'short_desc', 'transportation', 'website',
       'virtual'],
      dtype='object')

In [13]:
#get Data from Single column
df['organization_id']

0     1
1     1
2     1
3     1
4     1
5     2
6     2
7     2
8     3
9     3
10    3
11    3
12    3
13    4
14    4
15    4
16    4
17    5
18    5
19    6
20    7
21    8
Name: organization_id, dtype: int64

In [14]:
#now want to get more than one column
df['organization_id','accessibility']
#it will not work as it does not support multiple columns

KeyError: ('organization_id', 'accessibility')

In [15]:
#then we need to passs all columns as list
df[['organization_id', 'accessibility']]

    organization_id                                      accessibility
0                 1       disabled_parking, ramp, restroom, wheelchair
1                 1                                         wheelchair
2                 1                                                NaN
3                 1                                         wheelchair
4                 1                                         wheelchair
5                 2                       disabled_parking, wheelchair
6                 2       ramp, restroom, disabled_parking, wheelchair
7                 2                                                NaN
8                 3                         ramp, restroom, wheelchair
9                 3  elevator, tape_braille, ramp, restroom, disabl...
10                3                                               ramp
11                3         disabled_parking, elevator, ramp, restroom
12                3                                                NaN
13                4                                         wheelchair
14                4                                         wheelchair
15                4                                                NaN
16                4                                         wheelchair
17                5                           cd, restroom, wheelchair
18                5                         elevator, ramp, wheelchair
19                6                                                NaN
20                7                                 elevator, restroom
21                8             disabled_parking, restroom, wheelchair

In [17]:
type(df['organization_id'])

pandas.core.series.Series

In [19]:
#get Column's row 
df['organization_id'][3]

1

In [22]:
df['accessibility'][2:4] #start from 2 and till 4th

2           NaN
3    wheelchair
Name: accessibility, dtype: object

In [5]:
df['accessibility'][0::2] #start from 0 and till end and increment 2

0     disabled_parking, ramp, restroom, wheelchair
2                                              NaN
4                                       wheelchair
6     ramp, restroom, disabled_parking, wheelchair
8                       ramp, restroom, wheelchair
10                                            ramp
12                                             NaN
14                                      wheelchair
16                                      wheelchair
18                      elevator, ramp, wheelchair
20                              elevator, restroom
Name: accessibility, dtype: object

In [6]:
#Now read file which differnt seprator lets say *
df1=pd.read_csv('contacts_Start.csv',sep='*')

In [7]:
df1.head()

,id,location_id,organization_id,service_id,name,title,email,department
0,1,1.0,NaN,NaN,Susan Houston,Director of Older Adult Services,NaN,NaN
1,2,1.0,NaN,NaN,Christina Gonzalez,Center Director,NaN,NaN
2,3,2.0,NaN,NaN,Brenda Brown,Director* Second Career Services,NaN,NaN
3,4,3.0,NaN,NaN,Howard Lader* LCSW,Manager* Senior Peer Counseling,NaN,NaN
4,5,4.0,NaN,NaN,Kimberly Pesavento,Director of Visitation,NaN,NaN

In [8]:
#read excel
df3=pd.read_excel("C:\\Users\\dinesh.kumar\\Desktop\\Python\\sample.xls")

In [9]:
df3.head()

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468

In [11]:
#now read from other sheet 
pd.read_excel("C:\\Users\\dinesh.kumar\\Desktop\\Python\\sample.xls",sheet_name='Sheet2')

   8   Earlean   Melgar  Female  United States  27  16/08/2016  2456
0  9  Vincenza  Weiland  Female  United States  40  21/05/2015  6548

In [12]:
#read from github
pd.read_csv('https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/addresses.csv')

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
6,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US
7,8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
8,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
9,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
10,11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US
11,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
12,13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US
13,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
14,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
15,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
16,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
17,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
18,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
19,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [13]:
pd.read_excel('https://docs.google.com/spreadsheets/d/1m4Iu7yZmv7-JqlaI6Q-9l8OrTOy2MJvWUjwJnspqReQ/edit#gid=1381074498')

ValueError: File is not a recognized excel file

In [14]:
pd.read_html('https://www.basketball-reference.com/teams/')

[                Franchise   Lg     From       To  Yrs     G     W     L  \
 0           Atlanta Hawks  NBA  1949-50  2021-22   73  5694  2809  2885
 1           Atlanta Hawks  NBA  1968-69  2021-22   54  4276  2111  2165
 2         St. Louis Hawks  NBA  1955-56  1967-68   13  1005   553   452
 3         Milwaukee Hawks  NBA  1951-52  1954-55    4   281    91   190
 4   Tri-Cities Blackhawks  NBA  1949-50  1950-51    2   132    54    78
 ..                    ...  ...      ...      ...  ...   ...   ...   ...
 80     Washington Bullets  NBA  1974-75  1996-97   23  1886   887   999
 81        Capital Bullets  NBA  1973-74  1973-74    1    82    47    35
 82      Baltimore Bullets  NBA  1963-64  1972-73   10   813   401   412
 83        Chicago Zephyrs  NBA  1962-63  1962-63    1    80    25    55
 84        Chicago Packers  NBA  1961-62  1961-62    1    80    18    62

      W/L%  Plyfs  Div  Conf  Champ
 0   0.493     47   12     0      1
 1   0.494     34    6     0      0
 2   0.550     12    6     0      1
 3   0.324      0    0     0      0
 4   0.409      1    0     0      0
 ..    ...    ...  ...   ...    ...
 80  0.470     13    2     3      1
 81  0.573      1    1     0      0
 82  0.493      7    4     1      0
 83  0.313      0    0     0      0
 84  0.225      0    0     0      0

 [85 rows x 13 columns],
                    Franchise       Lg     From       To  Yrs    G    W    L  \
 0           Anderson Packers      NBA  1949-50  1949-50    1   64   37   27
 1          Baltimore Bullets  NBA/BAA  1947-48  1954-55    8  450  158  292
 2              Chicago Stags  NBA/BAA  1946-47  1949-50    4  237  145   92
 3           Cleveland Rebels      BAA  1946-47  1946-47    1   60   30   30
 4             Denver Nuggets      NBA  1949-50  1949-50    1   62   11   51
 5            Detroit Falcons      BAA  1946-47  1946-47    1   60   20   40
 6          Indianapolis Jets      BAA  1948-49  1948-49    1   60   18   42
 7     Indianapolis Olympians      NBA  1949-50  1952-53    4  269  132  137
 8          Kentucky Colonels      ABA  1967-68  1975-76    9  744  448  296
 9             Memphis Sounds      ABA  1967-68  1974-75    8  660  275  385
 10            Memphis Sounds      ABA  1974-75  1974-75    1   84   27   57
 11              Memphis Tams      ABA  1972-73  1973-74    2  168   45  123
 12              Memphis Pros      ABA  1970-71  1971-72    2  168   67  101
 13    New Orleans Buccaneers      ABA  1967-68  1969-70    3  240  136  104
 14        Pittsburgh Condors      ABA  1967-68  1971-72    5  408  180  228
 15        Pittsburgh Condors      ABA  1970-71  1971-72    2  168   61  107
 16          Minnesota Pipers      ABA  1968-69  1968-69    1   78   36   42
 17         Pittsburgh Pipers      ABA  1967-68  1969-70    2  162   83   79
 18        Pittsburgh Ironmen      BAA  1946-47  1946-47    1   60   15   45
 19  Providence Steam Rollers      BAA  1946-47  1948-49    3  168   46  122
 20           San Diego Sails      ABA  1972-73  1975-76    4  263  101  162
 21           San Diego Sails      ABA  1975-76  1975-76    1   11    3    8
 22   San Diego Conquistadors      ABA  1972-73  1974-75    3  252   98  154
 23       Sheboygan Red Skins      NBA  1949-50  1949-50    1   62   22   40
 24      Spirits of St. Louis      ABA  1967-68  1975-76    9  744  334  410
 25      Spirits of St. Louis      ABA  1974-75  1975-76    2  168   67  101
 26          Carolina Cougars      ABA  1969-70  1973-74    5  420  215  205
 27         Houston Mavericks      ABA  1967-68  1968-69    2  156   52  104
 28         St. Louis Bombers  NBA/BAA  1946-47  1949-50    4  237  122  115
 29            The Floridians      ABA  1967-68  1971-72    5  408  189  219
 30            The Floridians      ABA  1970-71  1971-72    2  168   73   95
 31          Miami Floridians      ABA  1968-69  1969-70    2  162   66   96
 32         Minnesota Muskies      ABA  1967-68  1967-68    1   78   50   28
 33           Toronto Huskies      BAA  1946-47  1946-47    1   60   22   38
 34                Utah Stars      ABA  1967-68  1975-76    9  676  366  310
 35                Utah Stars      ABA  1970-71  1975-76    6  436  265  171
 36         Los Angeles Stars      ABA  1968-69  1969-70    2  162   76   86
 37            Anaheim Amigos      ABA  1967-68  1967-68    1   78   25   53
 38          Virginia Squires      ABA  1967-68  1975-76    9  743  326  417
 39          Virginia Squires      ABA  1970-71  1975-76    6  503  200  303
 40       Washington Capitols      ABA  1969-70  1969-70    1   84   44   40
 41              Oakland Oaks      ABA  1967-68  1968-69    2  156   82   74
 42       Washington Capitols  NBA/BAA  1946-47  1950-51    5  271  157  114
 43            Waterloo Hawks      NBA  1949-50  1949-50    1   62   19   43

      W/L%  Plyfs  Div  Conf  Champ
 0   0.578      1  0.0     0      0
 1   0.351      3  0.0     0      1
 2   0.612      4  1.0     0      0
 3   0.500      1  0.0     0      0
 4   0.177      0  0.0     0      0
 5   0.333      0  0.0     0      0
 6   0.300      0  0.0     0      0
 7   0.491      4  1.0     0      0
 8   0.602      9  2.0     0      1
 9   0.417      4  1.0     0      0
 10  0.321      1  0.0     0      0
 11  0.268      0  0.0     0      0
 12  0.399      1  0.0     0      0
 13  0.567      2  1.0     0      0
 14  0.441      2  1.0     0      1
 15  0.363      0  0.0     0      0
 16  0.462      1  0.0     0      0
 17  0.512      1  1.0     0      1
 18  0.250      0  0.0     0      0
 19  0.274      0  0.0     0      0
 20  0.384      2  0.0     0      0
 21  0.273      0  NaN     0      0
 22  0.389      2  0.0     0      0
 23  0.355      1  0.0     0      0
 24  0.449      5  1.0     0      0
 25  0.399      1  0.0     0      0
 26  0.512      3  1.0     0      0
 27  0.333      1  0.0     0      0
 28  0.515      3  1.0     0      0
 29  0.463      4  0.0     0      0
 30  0.435      2  0.0     0      0
 31  0.407      1  0.0     0      0
 32  0.641      1  0.0     0      0
 33  0.367      0  0.0     0      0
 34  0.541      6  3.0     0      1
 35  0.608      5  3.0     0      1
 36  0.469      1  0.0     0      0
 37  0.321      0  0.0     0      0
 38  0.439      6  2.0     0      1
 39  0.398      4  1.0     0      0
 40  0.524      1  0.0     0      0
 41  0.526      1  1.0     0      1
 42  0.579      4  2.0     0      0
 43  0.306      0  0.0     0      0  ]